
body {
    background: no-repeat linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    min-height: 100vh;
    min-width: 100vh;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    padding-top: 8rem;
    font-size: 12px;
    font-family: "Kumbh Sans", sans-serif;
    
}
.row {
    overflow: hidden;
}

div .display-5 {
    text-align: start;
    padding-bottom: 2rem;
}

.container {
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    background-color: white;
    border-radius: 17px;
    /* max-width: 40rem; */
    margin-bottom: 1rem;
    flex-wrap: wrap;
    min-height: 20rem;
    max-height: 40rem; 
    display: flex;
}



.display-5, .accordion-header {
    color: hsl(237, 12%, 33%);
    font-weight: 700;
}

.accordion-body {
    color: hsl(240, 6%, 50%);
    font-weight: 400;
}

.card {
    background: transparent;
    overflow: hidden;
    /* width: 110%; */
    /* max-width: 400px; */
    transform: translate(-14%);
    align-self: center;
    border: none;
    display: flow-root;
    
}


.card .boxpic {
    display: none;
}

.boxpic {
    /* display: block !important; */
    top: 50%;
    /* position: absolute; */
    left: 0;
    transform: translate(96%, 17%);
    z-index: 1;
}

.boxpic img {
    /* max-width: 70%; */
    position: absolute;
    transform: translate(-93px, 76px);
    
}

#womandesktop {
    position: static;
}

.desktoppic {
    overflow: hidden;
}

.card picture {
    flex: 1;
}


/* #imgsection {
    overflow: hidden;
} */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}