
body {
    font-family: "Kumbh Sans" !important;
    background: linear-gradient(to bottom,#af67e9, #6565e7);
    /* text-align: center; */
    font-size: 12px;
    display: flex;
    flex-direction: column;
    
}

#bigchungus {
    background-color: white;
    width: 65%;
    height: 100%;
    margin: 200px auto;
    border-radius: 15px;
}
    

#accordion {
    padding: 10%;
    padding-left: 50%;
    background: -13% 50% no-repeat url(./images/illustration-woman-online-desktop.svg), -5% 60% no-repeat url(./images/illustration-box-desktop.svg);

}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}